<main id="main" class="main">

    <div class="Edit Employee">
        <h1>Edit Employee</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Layouts</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row d-flex justify-content-center align-itmes-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Edit Employee</h5>

                        <!-- Floating Labels Form -->
                        <form class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingName" placeholder="First Name">
                                    <label for="floatingFirstName">First Name</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingName" placeholder="Last Name">
                                    <label for="floatingLastName">Last Name</label>
                                </div>
                            </div>
                            <div>
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="floatingEmail" placeholder="Email">
                                    <label for="floatingEmail">Email</label>
                                </div>
                            </div>
                            <div>
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="floatingPhoneNumber" placeholder="Phone Number">
                                    <label for="floatingPhoneNumber">Phone Number</label>
                                </div>
                            </div>
                            <div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="date" class="form-control" id="floatingHireDate" placeholder="Hire Date">
                                        <label for="floatingHireDate">Hire Date</label>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingJobTitle" placeholder="Job Title">
                                    <label for="floatingJobTitle">Job Title</label>
                                </div>
                            </div>
                            <div>
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="floatingSalary" placeholder="Salary">
                                    <label for="floatingSalary">Salary</label>
                                </div>
                            </div>
                            <div>
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="floatingDepartmentID" placeholder="Department ID">
                                    <label for="floatingDepartmentID">Department ID</label>
                                 </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-warning">Update</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </form><!-- End floating Labels Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>