<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <!-- Dashboard Link -->
        <li class="nav-item mb-2">
            <a class="nav-link" asp-controller="Home" asp-action="Index">
                <i class="bi bi-grid me-2 text me-2"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Product Link -->
        <li class="nav-item mb-2">
            <a class="nav-link" asp-controller="Product" asp-action="ProductList">
                <i class="bi bi-box-seam-fill me-2"></i>
                <span>Product</span>
            </a>
        </li>

        <!-- Users Link -->
        <li class="nav-item mb-2">
            <a class="nav-link" asp-controller="User" asp-action="UserList">
                <i class="bi bi-person-fill me-2"></i>
                <span>Users</span>
            </a>
        </li>

        <!-- Orders Link -->
        <li class="nav-item mb-2">
            <a class="nav-link" asp-controller="Order" asp-action="OrderList">
                <i class="bi bi-cart-fill me-2"></i>
                <span>Orders</span>
            </a>
        </li>

        <!-- Order Detail Link -->
        <li class="nav-item mb-2">
            <a class="nav-link" asp-controller="OrderDetail" asp-action="ListOrderDetail">
                <i class="bi bi-list-task me-2"></i>
                <span>Order Detail</span>
            </a>
        </li>

        <!-- Bills Link -->
        <li class="nav-item mb-2">
            <a class="nav-link" asp-controller="Bills" asp-action="ListBills">
                <i class="bi bi-file-earmark-text-fill me-2"></i>
                <span>Bills Detail</span>
            </a>
        </li>

        <!-- Customers Link -->
        <li class="nav-item mb-2">
            <a class="nav-link" asp-controller="Customer" asp-action="CustomerList">
                <i class="bi bi-person-lines-fill me-2"></i>
                <span>Customers Detail</span>
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link" asp-controller="Project" asp-action="ListProjects">
                <i class="bi bi-cart-fill me-2"></i>
                <span>Project Detail</span>
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link" asp-controller="Country" asp-action="CountryList">
                <i class="bi bi-cart-fill me-2"></i>
                <span>Country Detail</span>
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link" asp-controller="State" asp-action="StateList">
                <i class="bi bi-cart-fill me-2"></i>
                <span>State Detail</span>
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link" asp-controller="State" asp-action="StateList">
                <i class="bi bi-cart-fill me-2"></i>
                <span>City Detail</span>
            </a>
        </li>

        <!-- Register Link -->
        <li class="nav-item mb-2">
            <a class="nav-link" asp-controller="Pages" asp-action="Register">
                <i class="bi bi-person-plus-fill me-2"></i>
                <span>Register</span>
            </a>
        </li>
    </ul>
</aside>
